<div>
    <select>
        <option>Youngster</option>
        <option>Pokemon Trainer</option>
    </select>
    <select>
        <option>Mars</option>
        <option>Joey</option>
    </select>
</div>
<div>
    <p>Current selected Pokémon: {{selectedPokemon.name}}</p>
    <div class="trainer-pokemon-list">
        <div class="trainer-pokemon-item" *ngFor="let pokemon of trainerPokemon;" (click)="selectPokemon(pokemon)">
            <img #img src="/assets/sprites/gen3/{{pokemon.name.toLowerCase()}}.png" 
            (error)="img.src = '/assets/substitute-3.png'" 
            alt="{{pokemon.name}}" title="{{pokemon.name}}"/><br/>
            {{pokemon.name}}
        </div>
    </div>
</div>